*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 133px 30px;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1B1919;
  ;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */ 
  clip: rect(0 0 0 0); /* это свойство обрезает видимую область до нулевого значения */ 
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
  }

/*-------------------CONTENT----------------------*/
.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
  
}




/*-------------------RESULT----------------------*/
.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  gap: 16px;

}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;

}

.result__video {
  position: absolute;
  inset:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
}

.search-form__fieldset-title{
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height:22px;
}

.search-form__label{
  display:flex;
  flex-direction: row;
  align-items:start;
  gap:5px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  
}

.search-form__label-nouderline{
  border-top: none;
  border-bottom: none;
  padding-bottom: 5px;
}

.search-form__textfield{
  width: 225px;
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  height:27px;
}

.search-form__checkbox-list{
display: flex;
flex-direction:row;
justify-content: start;
align-items: baseline;
margin-top:10px;
gap:15px;
}

.search-form__pseudo-checkbox{
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
}

.search-form__label-text{
  color: #FFF;
font-family: Fira Sans Condensed;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.button
{
display: flex;
width: 194px;
height: 34px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border: 1px solid #FFF;
}

.search-form__submit-button{
  color: #FFF;
text-align: center;
font-family: Fira Sans Condensed;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
background: none;

}

/*-------------------DETAILS----------------------*/
.content__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 26px;
  max-width: 399px;
  height:auto;
}

.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position:relative;
  height: 298px;
  width:100%;
  overflow: scroll;
}
.content__list::-webkit-scrollbar {
  display: none;
}
.content__list-item{

}

.content__list-item:not(:last-child) {
margin-bottom:30px;
}

.content__video-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 394px;
  padding: 2px;
}

.content__video-card-description-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 6px;
  color: #FFF;
  font-style: normal;
}

.content__video-card-title{ 
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase; 
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail{
  width: 194px;
  height: 103px;
  flex-shrink: 0;
}